In [117]:
#importations 
import pandas as pd
import numpy as np 
import seaborn as sns
import re

In [118]:
cd//Users/esekhaigbe/Downloads/data

/Users/esekhaigbe/Downloads/data

In [119]:
#First upload edited files 
# load file to Read 
df = pd.read_csv('trippub.csv')
# create a trip ID for the dataframe
df['Person'] = df['HOUSEID'].map(str) + '-' + df['PERSONID'].map(str)


df1=df.loc[ :, ['HOUSEID','PERSONID','Person','HHFAMINC','HHSIZE','HHVEHCNT','LIF_CYC','HH_RACE','R_SEX','R_AGE','TRAVDAY','DWELTIME','TRPMILES','TRPTRANS','TRVLCMIN','URBRUR','WHYFROM','WHYTO','WTTRDFIN']]

df1

,HOUSEID,PERSONID,Person,HHFAMINC,HHSIZE,HHVEHCNT,LIF_CYC,HH_RACE,R_SEX,R_AGE,TRAVDAY,DWELTIME,TRPMILES,TRPTRANS,TRVLCMIN,URBRUR,WHYFROM,WHYTO,WTTRDFIN
0,30000007,1,30000007-1,7,3,5,10,2,2,67,2,295,5.244,3,15,1,1,19,75441.905796
1,30000007,1,30000007-1,7,3,5,10,2,2,67,2,-9,5.149,3,20,1,19,1,75441.905796
2,30000007,2,30000007-2,7,3,5,10,2,1,66,2,540,84.004,6,120,1,3,1,71932.645806
3,30000007,2,30000007-2,7,3,5,10,2,1,66,2,-9,81.628,6,150,1,1,3,71932.645806
4,30000007,3,30000007-3,7,3,5,10,2,2,28,2,330,2.250,3,15,1,1,8,80122.686739
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
923567,50515573,1,50515573-1,10,1,0,1,1,1,52,3,283,1.168,1,27,1,1,3,223357.457435
923568,50515573,1,50515573-1,10,1,0,1,1,1,52,3,47,0.238,1,8,1,3,16,223357.457435
923569,50515573,1,50515573-1,10,1,0,1,1,1,52,3,240,0.238,1,5,1,16,3,223357.457435
923570,50515573,1,50515573-1,10,1,0,1,1,1,52,3,3,0.867,1,25,1,3,12,223357.457435
923571,50515573,1,50515573-1,10,1,0,1,1,1,52,3,-9,0.325,1,7,1,12,1,223357.457435

In [120]:
#df1.replace({'DWELTIME': {-9: 1000}}).str
#df1["DWELTIME"].replace({"-9": "1000"}, inplace=True)
#df1

df1 = df1.replace({'DWELTIME':{-9:1000}})
df1

,HOUSEID,PERSONID,Person,HHFAMINC,HHSIZE,HHVEHCNT,LIF_CYC,HH_RACE,R_SEX,R_AGE,TRAVDAY,DWELTIME,TRPMILES,TRPTRANS,TRVLCMIN,URBRUR,WHYFROM,WHYTO,WTTRDFIN
0,30000007,1,30000007-1,7,3,5,10,2,2,67,2,295,5.244,3,15,1,1,19,75441.905796
1,30000007,1,30000007-1,7,3,5,10,2,2,67,2,1000,5.149,3,20,1,19,1,75441.905796
2,30000007,2,30000007-2,7,3,5,10,2,1,66,2,540,84.004,6,120,1,3,1,71932.645806
3,30000007,2,30000007-2,7,3,5,10,2,1,66,2,1000,81.628,6,150,1,1,3,71932.645806
4,30000007,3,30000007-3,7,3,5,10,2,2,28,2,330,2.250,3,15,1,1,8,80122.686739
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
923567,50515573,1,50515573-1,10,1,0,1,1,1,52,3,283,1.168,1,27,1,1,3,223357.457435
923568,50515573,1,50515573-1,10,1,0,1,1,1,52,3,47,0.238,1,8,1,3,16,223357.457435
923569,50515573,1,50515573-1,10,1,0,1,1,1,52,3,240,0.238,1,5,1,16,3,223357.457435
923570,50515573,1,50515573-1,10,1,0,1,1,1,52,3,3,0.867,1,25,1,3,12,223357.457435
923571,50515573,1,50515573-1,10,1,0,1,1,1,52,3,1000,0.325,1,7,1,12,1,223357.457435

In [121]:
df1["TRPTRANS"].replace({1:"Walk", 2: "Bicycle", 3:"Private car", 4:"Private car", 5:"Private car", 6:"Private car", 7:"Others", 8:"Others", 9:"Others", 10:"Others", 11:"Public bus", 12:"Others", 13:"Others", 14:"Others",15:"Others",16:"Others",17:"Others",18:"Others",19:"Others",20:"Others",97:"Others",-8:"Others",-7:"Others"},  inplace = True)
df1["LIF_CYC"].replace({1: "Single Individual", 2: "Couple", 3: "Single Parent", 4:"Couple with kids", 5:"Single Parent", 6:"Couple with kids", 7:"Single Parent", 8:"Couple with kids", 9:"Retired household", 10:"Retired household"}, inplace=True)
df1["WHYFROM"].replace({1: 'Home', 2: 'Home', 3:'Stop', 4:'Stop', 5: 'Stop', 6:'Stop', 7:'Stop', 8:'Stop', 9:'Stop', 10:'Stop', 11:'Stop', 12:'Stop',13:'Stop',14:'Stop',15:'Stop',16:'Stop',17:'Stop',18:'Stop',19:'Stop',97:'Stop',-7 :'Stop', -8 : 'Stop', 97:'Stop',-9:'Stop'}, inplace=True)
df1["WHYTO"].replace({1: 'Home', 2: 'Home', 3:'Stop', 4:'Stop', 5: 'Stop', 6:'Stop', 7:'Stop', 8:'Stop', 9:'Stop', 10:'Stop', 11:'Stop', 12:'Stop',13:'Stop',14:'Stop',15:'Stop',16:'Stop',17:'Stop',18:'Stop',19:'Stop',97:'Stop',-7 :'Stop', -8 : 'Stop', 97:'Stop',-9:'Stop'}, inplace=True)
df1["TRAVDAY"].replace({1: 'Weekend', 2: 'Weekday', 3:'Weekday', 4:'Weekday', 5: 'Weekday', 6:'Weekday', 7:'Weekend'}, inplace=True)
df1["R_SEX"].replace({1: 'Male', 2: 'Female', -8:"No", -7:"No"}, inplace=True)
df1["URBRUR"].replace({1: 'Urban', 2: 'Rural', -8:"No", -7:"No"}, inplace=True)
df1["HH_RACE"].replace({1:"White", 2: "Black", 3:'Asian', 4:'American Indian',5:'Native Hawaiian', 6:'Multiple responses selected', 97:'Some other race', -8:'Dont know' ,-7:'Refused'},  inplace = True)
df1["HHVEHCNT"].replace({0: "No",1:"Yes", 2: "Yes", 3:"Yes", 4:"Yes", 5:"Yes", 6:"Yes", 7:"Yes", 8:"Yes", 9:"Yes", 10:"Yes", 11:"Yes", 12:"Yes"},  inplace = True)

df1

,HOUSEID,PERSONID,Person,HHFAMINC,HHSIZE,HHVEHCNT,LIF_CYC,HH_RACE,R_SEX,R_AGE,TRAVDAY,DWELTIME,TRPMILES,TRPTRANS,TRVLCMIN,URBRUR,WHYFROM,WHYTO,WTTRDFIN
0,30000007,1,30000007-1,7,3,Yes,Retired household,Black,Female,67,Weekday,295,5.244,Private car,15,Urban,Home,Stop,75441.905796
1,30000007,1,30000007-1,7,3,Yes,Retired household,Black,Female,67,Weekday,1000,5.149,Private car,20,Urban,Stop,Home,75441.905796
2,30000007,2,30000007-2,7,3,Yes,Retired household,Black,Male,66,Weekday,540,84.004,Private car,120,Urban,Stop,Home,71932.645806
3,30000007,2,30000007-2,7,3,Yes,Retired household,Black,Male,66,Weekday,1000,81.628,Private car,150,Urban,Home,Stop,71932.645806
4,30000007,3,30000007-3,7,3,Yes,Retired household,Black,Female,28,Weekday,330,2.250,Private car,15,Urban,Home,Stop,80122.686739
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
923567,50515573,1,50515573-1,10,1,No,Single Individual,White,Male,52,Weekday,283,1.168,Walk,27,Urban,Home,Stop,223357.457435
923568,50515573,1,50515573-1,10,1,No,Single Individual,White,Male,52,Weekday,47,0.238,Walk,8,Urban,Stop,Stop,223357.457435
923569,50515573,1,50515573-1,10,1,No,Single Individual,White,Male,52,Weekday,240,0.238,Walk,5,Urban,Stop,Stop,223357.457435
923570,50515573,1,50515573-1,10,1,No,Single Individual,White,Male,52,Weekday,3,0.867,Walk,25,Urban,Stop,Stop,223357.457435
923571,50515573,1,50515573-1,10,1,No,Single Individual,White,Male,52,Weekday,1000,0.325,Walk,7,Urban,Stop,Home,223357.457435

In [122]:
#categorization of variables
category = pd.cut(df1.HHFAMINC,bins=[0,3,7,90,10000],labels=['Poverty','Middleclass','Rich','Refused'])
df1.insert(5,'Incomeclass',category)
category = pd.cut(df1.TRPMILES,bins=[0,10,30,10000],labels=['Short Trip','Medium trip','Long TRip'])
df1.insert(5,'Triplenght',category)
category = pd.cut(df1.DWELTIME,bins=[0,240,10000],labels=['short Stop at ','Primary'])
df1.insert(5,'Primary Destination',category)
category = pd.cut(df1.R_AGE,bins=[0,5,17,65,99],labels=['Toddler/baby','Child','Adult','Elderly'])
df1.insert(5,'Ageclass',category)



df1

,HOUSEID,PERSONID,Person,HHFAMINC,HHSIZE,Ageclass,Primary Destination,Triplenght,Incomeclass,HHVEHCNT,...,R_AGE,TRAVDAY,DWELTIME,TRPMILES,TRPTRANS,TRVLCMIN,URBRUR,WHYFROM,WHYTO,WTTRDFIN
0,30000007,1,30000007-1,7,3,Elderly,Primary,Short Trip,Middleclass,Yes,...,67,Weekday,295,5.244,Private car,15,Urban,Home,Stop,75441.905796
1,30000007,1,30000007-1,7,3,Elderly,Primary,Short Trip,Middleclass,Yes,...,67,Weekday,1000,5.149,Private car,20,Urban,Stop,Home,75441.905796
2,30000007,2,30000007-2,7,3,Elderly,Primary,Long TRip,Middleclass,Yes,...,66,Weekday,540,84.004,Private car,120,Urban,Stop,Home,71932.645806
3,30000007,2,30000007-2,7,3,Elderly,Primary,Long TRip,Middleclass,Yes,...,66,Weekday,1000,81.628,Private car,150,Urban,Home,Stop,71932.645806
4,30000007,3,30000007-3,7,3,Adult,Primary,Short Trip,Middleclass,Yes,...,28,Weekday,330,2.250,Private car,15,Urban,Home,Stop,80122.686739
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
923567,50515573,1,50515573-1,10,1,Adult,Primary,Short Trip,Rich,No,...,52,Weekday,283,1.168,Walk,27,Urban,Home,Stop,223357.457435
923568,50515573,1,50515573-1,10,1,Adult,short Stop at,Short Trip,Rich,No,...,52,Weekday,47,0.238,Walk,8,Urban,Stop,Stop,223357.457435
923569,50515573,1,50515573-1,10,1,Adult,short Stop at,Short Trip,Rich,No,...,52,Weekday,240,0.238,Walk,5,Urban,Stop,Stop,223357.457435
923570,50515573,1,50515573-1,10,1,Adult,short Stop at,Short Trip,Rich,No,...,52,Weekday,3,0.867,Walk,25,Urban,Stop,Stop,223357.457435
923571,50515573,1,50515573-1,10,1,Adult,Primary,Short Trip,Rich,No,...,52,Weekday,1000,0.325,Walk,7,Urban,Stop,Home,223357.457435

In [123]:
#df1=df1.loc[df1.TRAVDAY=='Weekday', :]
#df1=df1.loc[df1.Ageclass=='Adult', :]

#df1

In [124]:
df1["Destination"] = df1["Primary Destination"].astype(str) + df1["WHYTO"]
df1

,HOUSEID,PERSONID,Person,HHFAMINC,HHSIZE,Ageclass,Primary Destination,Triplenght,Incomeclass,HHVEHCNT,...,TRAVDAY,DWELTIME,TRPMILES,TRPTRANS,TRVLCMIN,URBRUR,WHYFROM,WHYTO,WTTRDFIN,Destination
0,30000007,1,30000007-1,7,3,Elderly,Primary,Short Trip,Middleclass,Yes,...,Weekday,295,5.244,Private car,15,Urban,Home,Stop,75441.905796,PrimaryStop
1,30000007,1,30000007-1,7,3,Elderly,Primary,Short Trip,Middleclass,Yes,...,Weekday,1000,5.149,Private car,20,Urban,Stop,Home,75441.905796,PrimaryHome
2,30000007,2,30000007-2,7,3,Elderly,Primary,Long TRip,Middleclass,Yes,...,Weekday,540,84.004,Private car,120,Urban,Stop,Home,71932.645806,PrimaryHome
3,30000007,2,30000007-2,7,3,Elderly,Primary,Long TRip,Middleclass,Yes,...,Weekday,1000,81.628,Private car,150,Urban,Home,Stop,71932.645806,PrimaryStop
4,30000007,3,30000007-3,7,3,Adult,Primary,Short Trip,Middleclass,Yes,...,Weekday,330,2.250,Private car,15,Urban,Home,Stop,80122.686739,PrimaryStop
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
923567,50515573,1,50515573-1,10,1,Adult,Primary,Short Trip,Rich,No,...,Weekday,283,1.168,Walk,27,Urban,Home,Stop,223357.457435,PrimaryStop
923568,50515573,1,50515573-1,10,1,Adult,short Stop at,Short Trip,Rich,No,...,Weekday,47,0.238,Walk,8,Urban,Stop,Stop,223357.457435,short Stop at Stop
923569,50515573,1,50515573-1,10,1,Adult,short Stop at,Short Trip,Rich,No,...,Weekday,240,0.238,Walk,5,Urban,Stop,Stop,223357.457435,short Stop at Stop
923570,50515573,1,50515573-1,10,1,Adult,short Stop at,Short Trip,Rich,No,...,Weekday,3,0.867,Walk,25,Urban,Stop,Stop,223357.457435,short Stop at Stop
923571,50515573,1,50515573-1,10,1,Adult,Primary,Short Trip,Rich,No,...,Weekday,1000,0.325,Walk,7,Urban,Stop,Home,223357.457435,PrimaryHome

In [125]:
df1=df1.replace(to_replace ="short Stop at Home", value ="Tour") 
df1=df1.replace(to_replace ="short Stop at Stop", value ="Stop") 
df1=df1.replace(to_replace ="PrimaryStop", value ="P Destination") 
df1=df1.replace(to_replace ="PrimaryHome", value ="Tour") 
df1

,HOUSEID,PERSONID,Person,HHFAMINC,HHSIZE,Ageclass,Primary Destination,Triplenght,Incomeclass,HHVEHCNT,...,TRAVDAY,DWELTIME,TRPMILES,TRPTRANS,TRVLCMIN,URBRUR,WHYFROM,WHYTO,WTTRDFIN,Destination
0,30000007,1,30000007-1,7,3,Elderly,Primary,Short Trip,Middleclass,Yes,...,Weekday,295,5.244,Private car,15,Urban,Home,Stop,75441.905796,P Destination
1,30000007,1,30000007-1,7,3,Elderly,Primary,Short Trip,Middleclass,Yes,...,Weekday,1000,5.149,Private car,20,Urban,Stop,Home,75441.905796,Tour
2,30000007,2,30000007-2,7,3,Elderly,Primary,Long TRip,Middleclass,Yes,...,Weekday,540,84.004,Private car,120,Urban,Stop,Home,71932.645806,Tour
3,30000007,2,30000007-2,7,3,Elderly,Primary,Long TRip,Middleclass,Yes,...,Weekday,1000,81.628,Private car,150,Urban,Home,Stop,71932.645806,P Destination
4,30000007,3,30000007-3,7,3,Adult,Primary,Short Trip,Middleclass,Yes,...,Weekday,330,2.250,Private car,15,Urban,Home,Stop,80122.686739,P Destination
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
923567,50515573,1,50515573-1,10,1,Adult,Primary,Short Trip,Rich,No,...,Weekday,283,1.168,Walk,27,Urban,Home,Stop,223357.457435,P Destination
923568,50515573,1,50515573-1,10,1,Adult,short Stop at,Short Trip,Rich,No,...,Weekday,47,0.238,Walk,8,Urban,Stop,Stop,223357.457435,Stop
923569,50515573,1,50515573-1,10,1,Adult,short Stop at,Short Trip,Rich,No,...,Weekday,240,0.238,Walk,5,Urban,Stop,Stop,223357.457435,Stop
923570,50515573,1,50515573-1,10,1,Adult,short Stop at,Short Trip,Rich,No,...,Weekday,3,0.867,Walk,25,Urban,Stop,Stop,223357.457435,Stop
923571,50515573,1,50515573-1,10,1,Adult,Primary,Short Trip,Rich,No,...,Weekday,1000,0.325,Walk,7,Urban,Stop,Home,223357.457435,Tour

In [126]:
# define if is Tour, Stop or P Destination
df1=df1.loc[df1.Destination=='P Destination', :]

In [127]:
# change the dependent variable to count the tours, stops and p.d 
df1['destination'] = df1.groupby('HOUSEID')['Destination'].transform('count')
df1

<ipython-input-127-95db86541c31>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['destination'] = df1.groupby('HOUSEID')['Destination'].transform('count')

,HOUSEID,PERSONID,Person,HHFAMINC,HHSIZE,Ageclass,Primary Destination,Triplenght,Incomeclass,HHVEHCNT,...,DWELTIME,TRPMILES,TRPTRANS,TRVLCMIN,URBRUR,WHYFROM,WHYTO,WTTRDFIN,Destination,destination
0,30000007,1,30000007-1,7,3,Elderly,Primary,Short Trip,Middleclass,Yes,...,295,5.244,Private car,15,Urban,Home,Stop,75441.905796,P Destination,3
3,30000007,2,30000007-2,7,3,Elderly,Primary,Long TRip,Middleclass,Yes,...,1000,81.628,Private car,150,Urban,Home,Stop,71932.645806,P Destination,3
4,30000007,3,30000007-3,7,3,Adult,Primary,Short Trip,Middleclass,Yes,...,330,2.250,Private car,15,Urban,Home,Stop,80122.686739,P Destination,3
6,30000008,1,30000008-1,8,2,Adult,Primary,Short Trip,Rich,Yes,...,720,8.017,Private car,15,Rural,Home,Stop,23062.857428,P Destination,1
12,30000012,1,30000012-1,10,1,Adult,Primary,Short Trip,Rich,Yes,...,295,4.291,Private car,20,Urban,Home,Stop,21522.690513,P Destination,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
923538,40794260,2,40794260-2,11,4,Child,Primary,Short Trip,Rich,Yes,...,457,3.042,Private car,15,Urban,Home,Stop,100066.168932,P Destination,3
923544,40794260,3,40794260-3,11,4,Toddler/baby,Primary,Short Trip,Rich,Yes,...,457,3.042,Private car,15,Urban,Home,Stop,100066.168932,P Destination,3
923554,40794293,2,40794293-2,6,2,Adult,Primary,Medium trip,Middleclass,Yes,...,505,21.556,Private car,35,Rural,Home,Stop,58974.592956,P Destination,1
923558,40794301,2,40794301-2,6,7,Adult,Primary,Short Trip,Middleclass,Yes,...,280,2.910,Private car,12,Rural,Stop,Stop,49408.740644,P Destination,1
923567,50515573,1,50515573-1,10,1,Adult,Primary,Short Trip,Rich,No,...,283,1.168,Walk,27,Urban,Home,Stop,223357.457435,P Destination,1

In [128]:
df2=df1.groupby('HOUSEID').mean()
df2

,PERSONID,HHFAMINC,HHSIZE,R_AGE,DWELTIME,TRPMILES,TRVLCMIN,WTTRDFIN,destination
HOUSEID,,,,,,,,,
30000007,2.0,7.0,3.0,53.666667,541.666667,29.707333,60.000000,75832.412781,3.0
30000008,1.0,8.0,2.0,55.000000,720.000000,8.017000,15.000000,23062.857428,1.0
30000012,1.0,10.0,1.0,45.000000,295.000000,4.291000,20.000000,21522.690513,1.0
30000041,1.5,11.0,2.0,42.000000,472.500000,73.171500,112.500000,300264.763262,2.0
30000062,1.0,10.0,2.0,50.000000,270.000000,1.358000,10.000000,91798.459370,1.0
...,...,...,...,...,...,...,...,...,...
40794238,2.0,7.0,3.0,31.666667,486.666667,9.135333,39.000000,169686.526442,3.0
40794260,2.0,11.0,4.0,17.000000,483.666667,6.790333,19.333333,91049.674415,3.0
40794293,2.0,6.0,2.0,62.000000,505.000000,21.556000,35.000000,58974.592956,1.0
40794301,2.0,6.0,7.0,59.000000,280.000000,2.910000,12.000000,49408.740644,1.0
50515573,1.0,10.0,1.0,52.000000,283.000000,1.168000,27.000000,223357.457435,1.0

In [129]:
df2.to_csv('destination.csv')

In [ ]:
df2=df1.loc[ :, ['Tours','Incomeclass','Ageclass','TRAVDAY','TRPTRANS','HHVEHCNT','LIF_CYC','HH_RACE','R_SEX','Triplenght','TRAVDAY','URBRUR']]
df2

In [ ]:
df3=pd.get_dummies(df2)
df3

In [ ]:
# using .map to create dummy variables
# train['category_name'] = train.Category.map({'unique_term':0, 'unique_term2':1})
#df2['Incomeclass'] = df2.Incomeclass.map({'Poverty':1,'Middleclass':0,'Rich':0})
#df2

In [ ]:
df3.to_csv('class.csv')

In [ ]:
df3.to_csv('class.csv')

In [ ]:
df1["TRAVDAY"].replace({1: 'Sunday', 2: 'Monday', 3:'Tuesday', 4:'Wednesday', 5: 'Thursday', 6:'Friday', 7:'Saturday'}, inplace=True)

In [ ]:
df1["house"]= df1["HOUSEID"].astype(str)
df1["person"]= df1["PERSONID"].astype(str)

df1["ID"] = df1["house"].astype(str) + "-"+df1["person"]
df1